:root {
  --bg-color: #573824;
  --surface-color: #F0E8C2;

  --text-color-primary: #291B1A;
  --text-color-secondary: #573A37;
  --text-color-on-bg: #F0E8C2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Alice", serif;
  background-image: url('./images/bg-cupcake.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 48px;
}

#page {
  width: 800px;
  padding: 24px;
  background-color: var(--surface-color);
  border-radius: 24px;
  margin: 0 auto 28px;
}

img {
  width: 100%;
  border-radius: 16px;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  font-size: 40px;
  line-height: 140%;
}

h2 {
  font-size: 24px;
  line-height: 150%;
}

h1,
h2 { 
  color: var(--text-color-primary);
  margin-bottom: 4px;
}

p {
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color-secondary);
}

ul {
  list-style-position: inside;
  padding-left: 8px;
}

footer p {
  color: var(--text-color-on-bg);
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}