:root {
  --bg-color: #573824;
  --surface-color: #F0E8C2;

  --text-color-primary: #291B1A;
  --text-color-secondary: #573A37;
  --text-color-on-bg: #F0E8C2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font: 16px "Alice", serif;
}

h1 {
  font-size: 40px;
  line-height: 140%;
}

h2 {
  font-size: 24px;
  line-height: 150%;
}

p {
  font-size: 16px;
  line-height: 150%;
}

img {
  border-radius: 16px;
}